<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="hierarchyTest" />
				<exclude name="formDao" />
				<exclude name="categoryDao" />
				<exclude name="groupDao" />
				<exclude name="questionDao" />
				<exclude name="answerDao" />
				<exclude name="diagramDao" />
				<include name="jsonParser" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.persistence.entity.HierarchyTest" />
			<class name="com.biit.abcd.persistence.dao.FormTest" />
			<class name="com.biit.abcd.persistence.dao.CategoryTest" />
			<class name="com.biit.abcd.persistence.dao.GroupTest" />
			<class name="com.biit.abcd.persistence.dao.QuestionTest" />
			<class name="com.biit.abcd.persistence.dao.AnswerTest" />
			<class name="com.biit.abcd.persistence.dao.DiagramTest" />
			<class name="com.biit.abcd.json.JsonParserTest" />
		</classes>
	</test>
</suite>

