<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="expressionEvaluator" />
				<exclude name="formDao" />
				<exclude name="diagramDao" />
				<exclude name="formCustomVariablesDao" />
				<exclude name="globalVariablesDao" />
				<exclude name="tableRulesDao" />
				<exclude name="orphan" />
				<exclude name="genericTreeObjectVariablesDao" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.persistence.dao.FormTest" />
			<class name="com.biit.abcd.persistence.dao.DiagramTest" />
			<class name="com.biit.abcd.persistence.dao.FormCustomVariablesTest" />
			<class name="com.biit.abcd.persistence.dao.GlobalVariablesTest" />
			<class name="com.biit.abcd.persistence.dao.TableRuleTest" />
			<class name="com.biit.abcd.persistence.entity.expressions.ExpressionTest" />
			<class name="com.biit.jexeval.ExpressionCheck" />
			<class name="com.biit.abcd.persistence.dao.OrphanRemoveTest" />
		</classes>
	</test>
</suite>