/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */

$buttonColor: #00a3e8;
$blueShadowColor: #52A5C5;

@font-face {
	font-family: "TkIcons";
	/* woff by default (smallest size), android needs a fallback as otf  */
	src: fontAwesome format("woff"), fontAwesomeOtf format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* If somebody wants to extend the theme she will include this mixin. */
@mixin abcd {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  	/* Fix for diagram building style until further notice */
  	.v-Notification h1 {
	  	position: static;
		z-index: inherit;
		top: 0;
		left: 0;
		margin: inherit;
		padding: inherit;
  	}
  	
  	.v-Notification h1, .v-Notification p, .v-Notification-error h1, .v-Notification-error p, .v-Notification-warning h1, .v-Notification-warning p {
		display: block;
		margin: 0 0.5em 0 0;
	}
  	
  	.v-Notification-warning {
		background: #fdf3b5;
		border: 3px solid #fee3af;
	}
	
	.v-Notification.v-Notification-error h1 {
	  	color: #FFFFFF !important;
	  	font-size: 24px;
  	}
  	.v-Notification.v-Notification-error p {
	  	color: #FFFFFF !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
	.v-Notification.v-Notification-warning h1 {
	  	color: #ca9a61 !important;
	  	font-size: 24px;
  	}
  	.v-Notification.v-Notification-warning p {
	  	color: #ca9a61 !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
  	.v-Notification h1 {
	  	color: #FFFFFF !important;
	  	font-size: 24px;
  	}
  	.v-Notification p {
	  	color: #FFFFFF !important;
	  	font-size: 14px;
	  	padding-top: 14px;
  	}
	
  
  	.v-horizontal-button-group {
		background-color: white;
	}
  
  	.v-horizontal-button-group .v-button-wrap {
		height: inherit;
	}
  	.v-horizontal-button-group .v-icon {
		margin-left: auto;
		margin-right: auto;
		height: 50px !important;
		width: 50px !important;
		display: block;
	}
	
	.upper-menu.v-horizontal-button-group .v-icon {
		width: 32px !important;
		height: 32px !important;
	}
	
	.upper-menu.v-horizontal-button-group .v-button-caption {
		font-size: 14px;
	}
	
	.v-button-iconbutton-size-small .v-icon {
		width: 16px;
		height: 16px;
	}
	
	.v-button-iconbutton-size-medium .v-icon {
		width: 32px;
		height: 32px;
	}
	
	.v-button-iconbutton-size-big .v-icon {
		width: 64px;
		height: 64px;
	}
	
	.v-horizontal-button-group .v-button:active, .v-horizontal-button-group .v-button:focus{
		box-shadow: inset 0px 0px 8px 1px $blueShadowColor;
	}

	.v-button:focus {
		background-image: none;
		outline: none;
		box-shadow: 0px 0px 3px 2px $blueShadowColor;
	}
	
	.v-button:focus .v-button-wrap {
		background-image: none;
		outline: none;
	}
	
	.v-button:active, .v-button.v-pressed {
		background-image: none;
		outline: none;
		background-image: none;
		background-color: rgba(247, 247, 247, 1);
		box-shadow: 0px 0px 3px 2px $blueShadowColor;
	}
	
	.v-button:active .v-button-wrap, .v-button.v-pressed .v-button-wrap {
		background-image: none;
		outline: none;
	}
	
	.v-button, .v-disabled.v-button {
		height: 32px;
		/*padding: 0 0 0 6px;*/
		padding: 0 0 0 0px;
		background-image: none;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 1);
		cursor: default;
		color: $buttonColor;
		border: rgb(212, 201, 191);
		border-width: 1px;
		border-style: solid;
		box-shadow: 0px 2px 2px -1px #777777;
	}
	
	.v-button.v-button-link{
		border-width: 0px;
	}
	
	.v-button-wrap, .v-button-caption {
		vertical-align: middle;
		white-space: nowrap;
		font: inherit;
		color: inherit;
		line-height: normal;
	}
	
	.v-disabled.v-button {
		box-shadow: 0px 2px 2px -1px #777777 !important;
	}
	
	.v-button-wrap, .v-disabled.v-button .v-button-wrap {
		display: block;
		height: 24px;
		padding: 7px 9px 0 9px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: right top;
		background-image: none;
		color: $buttonColor;
	}
	
	.v-button-caption {
		color: #1C86C2;
		text-shadow: #fff 0 1px 0;
		font-weight: 800;
		font-size: 16px;
		line-height: 16px;
	}
	
	&.v-app,
	.v-caption,
	.v-window,
	.v-popupview-popup,
	.v-tooltip,
	&.v-app input,
	&.v-app select,
	&.v-app button,
	&.v-app textarea,
	.v-widget,
	.v-window input,
	.v-window select,
	.v-window button,
	.v-window textarea,
	.v-popupview-popup input,
	.v-popupview-popup select,
	.v-popupview-popup button,
	.v-popupview-popup textarea,
	.v-filterselect-suggestpopup,
	.v-datefield-popup,
	.v-contextmenu,
	.v-Notification,
	.v-menubar-submenu,
	.v-drag-element,
	.v-table-header-drag {
	    font-family: "TkIcons" !important;
	    font-size: 14px !important;
	}
}