<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="login" />
				<include name="formManager" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.gui.test.AbcdGuiLoginTestIT" />
			<class name="com.biit.abcd.gui.test.AbcdGuiFormManagerTestIT" />
		</classes>
	</test>
</suite>