<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="AbcdCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="login" />
				<exclude name="basicFunctionalityTests" />
				<exclude name="formDesigner" />
				<exclude name="formVariables" />
				<exclude name="statusPreserving" />
				<exclude name="globalVariables" />
				<exclude name="ruleExpression" />
				<exclude name="ruleTableEditor" />
				<exclude name="scenarioEditor" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.gui.test.LoginTests" />
			<class name="com.biit.abcd.gui.test.BasicFunctionalityTests" />
			<class name="com.biit.abcd.gui.test.FormDesignerTests" />
			<class name="com.biit.abcd.gui.test.StatusPreservingTests" />
			<class name="com.biit.abcd.gui.test.FormVariablesTests" />
			<class name="com.biit.abcd.gui.test.GlobalVariablesTests" />
			<class name="com.biit.abcd.gui.test.RuleExpressionTests" />
			<class name="com.biit.abcd.gui.test.RuleTableEditorTests" />
			<class name="com.biit.abcd.gui.test.ScenarioTests" />
		</classes>
	</test>
</suite>