<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="login" />
				<include name="basicFunctionalityTests" />
				<include name="formDesigner" />
				<include name="formVariables" />
				<include name="statusPreserving" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.gui.test.LoginTests" />
			<class name="com.biit.abcd.gui.test.BasicFunctionalityTests" />
			<class name="com.biit.abcd.gui.test.FormDesignerTests" />
			<class name="com.biit.abcd.gui.test.StatusPreservingTests" />
			<class name="com.biit.abcd.gui.test.FormVariablesTests" />
		</classes>
	</test>
</suite>