<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="droolsExpressions" />
				<exclude name="droolsFork" />
				<exclude name="droolsGeneric" />
				<exclude name="droolsGlobalVariables" />
				<exclude name="droolsNestedGroups" />
				<exclude name="droolsOperators" />
				<exclude name="droolsTableRule" />
				<exclude name="droolsPrattParser" />
				<exclude name="gson" />
				<exclude name="newVersion" />
				<exclude name="droolsEngineRules" />
				<exclude name="pluginsTest" />
				<exclude name="usesOfElement" />
				<exclude name="multiSelectAnswer" />
				<exclude name="graphviz" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.core.NewVersionTest" />
			<class name="com.biit.abcd.core.drools.test.ExpressionsTest" />
			<class name="com.biit.abcd.core.drools.test.PrattParserTest" />
			<class name="com.biit.abcd.core.drools.test.JsonExporterTest" />
			<class name="com.biit.abcd.core.drools.test.GlobalVariablesTest" />
			<class name="com.biit.abcd.core.drools.test.TableRuleTest" />
			<class name="com.biit.abcd.core.drools.test.ExpressionsTest" />
			<class name="com.biit.abcd.core.drools.test.GenericsTest" />
			<class name="com.biit.abcd.core.drools.test.NestedGroupsTest" />
			<class name="com.biit.abcd.core.drools.test.ForksTest" />
			<class name="com.biit.abcd.core.drools.test.OperatorsTest" />
			<class name="com.biit.abcd.core.drools.test.DroolsEngineRulesTest" />
			<class name="com.biit.abcd.core.drools.test.PluginsTest" />
			<class name="com.biit.abcd.core.UsesOfElementTester" />
			<class name="com.biit.abcd.core.drools.test.MultiSelectAnswerTest" />
			<class name="com.biit.abcd.core.GraphvizTests" />
		</classes>
	</test>
</suite>