<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="orbeon" />
				<include name="rules" />
			</run>
		</groups>
		<classes>
			<!--  <class name="com.biit.abcd.core.drools.facts.SimpleDecisionTableTest" /> -->
			<!--  <class name="com.biit.abcd.core.drools.facts.ExpressionTest" /> -->
			<class name="com.biit.abcd.core.drools.facts.DhszwTest" />
		</classes>
	</test>
</suite>
