<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebFormsCore">
	<test name="AbcdTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="orbeon" />
				<include name="rules" />
				<exclude name="rulesWithOrbeon" />
				<include name="simpleParser" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.abcd.core.drools.test.PrattParserTest" />
			<class name="com.biit.abcd.core.drools.test.NewTableRuleTest" />
			<!-- <class name="com.biit.abcd.core.drools.test.GlobalVariablesTest"/>
			<class name="com.biit.abcd.core.drools.test.ExpressionsTest" />
			<class name="com.biit.abcd.core.drools.test.RulesTest" />
			<class name="com.biit.abcd.core.drools.test.DiagramTest" />
			<class name="com.biit.abcd.core.drools.test.DiagramDateTest"/>
			<class name="com.biit.abcd.core.drools.test.ZrmFormTest" /> 
			<class name="com.biit.abcd.core.drools.test.DiagramOrTest" /> 
			<class name="com.biit.abcd.core.drools.test.GenericsTest" /> 
			<class name="com.biit.abcd.core.drools.test.FunctionsTest" /> -->
			<!-- Test dependent of the orbeon server, may not work in all machines -->
			<!-- <class name="com.biit.abcd.core.drools.test.DHPUserFormsTest" /> -->
		</classes>
	</test>
</suite>